---
import { currentJSLibrary } from '~/stores/libraries';
import { kebabToTitleCase, uppercaseFirstLetter } from '~/utils/string';
import { get } from 'svelte/store';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props,
  { pathname } = Astro.url,
  socialCardImg = pathname.startsWith('/docs')
    ? resolveDocsOgImage(pathname)
    : `${Astro.site}social-card-large.png`;

function resolveDocsOgImage(pathname: string) {
  pathname = pathname.replace('/docs/wc', '/docs').replace(/\/$/, '');

  const isIntroPage = pathname === '/docs/player',
    isInstallationPage = pathname.startsWith('/docs/player/getting-started/installation'),
    isAgnosticPage = isIntroPage || isInstallationPage,
    lib = !isAgnosticPage && get(currentJSLibrary),
    cardTitle = title.split('|')[0].trim(),
    category = isAgnosticPage ? 'Getting Started' : pathname.split('/')[3],
    cardCategory = kebabToTitleCase(category).replace('Api', 'API');

  const searchParams = new URLSearchParams();
  if (lib) searchParams.set('lib', lib);
  searchParams.set('category', cardCategory);
  searchParams.set(
    'title',
    cardTitle.startsWith(cardCategory) ? cardTitle.split(':')[1] : cardTitle,
  );
  searchParams.set('description', description);

  return `${Astro.site}og?${searchParams}`;
}
---

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta name="og:description" content={description} />
<meta property="og:site_name" content="Vidstack" />
<meta property="og:type" content="website" />
<meta property="og:image" content={socialCardImg} />
<meta property="og:image:width" content="2560" />
<meta property="og:image:height" content="1280" />
<meta property="og:url" content={Astro.url.href} />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@vidstackjs" />
<meta name="twitter:image" content={socialCardImg} />
<meta name="twitter:creator" content="@vidstackjs" />

<meta name="docsearch:version" content="latest" />
<meta name="docsearch:jslib" content={`${get(currentJSLibrary)}`} />
