---
import clsx from 'clsx';

import { isSidebarGroup, type SidebarItem } from '../../nav/sidebar-items';

interface Props {
  items: SidebarItem[];
  deepMatch?: boolean;
  depth?: number;
}

let { pathname } = Astro.url,
  { items, deepMatch, depth = 0 } = Astro.props;

pathname = pathname.replace(/\/$/, '');
---

{
  items.map((item) => {
    if (isSidebarGroup(item)) {
      return (
        <ul class="mt-7 flex flex-col" role="group">
          <h5 class="mb-2 font-semibold text-inverse">{item.title}</h5>
          <Astro.self items={item.items} {deepMatch} depth={depth + 1} />
        </ul>
      );
    } else {
      const isActive = deepMatch
        ? item.href === pathname ||
          (pathname.split('/').at(-2) === item.href.split('/').pop() &&
            pathname.startsWith(item.href))
        : item.href === pathname;

      const link = (
        <a
          class={clsx(
            '-ml-1 mt-px flex items-center rounded-md border px-2 py-1.5',
            isActive
              ? 'bg-inverse/90 font-medium text-body shadow-sm'
              : clsx(
                  'border-transparent text-soft/90',
                  'hocus:border-soft/20 hocus:bg-elevate hocus:text-inverse hocus:shadow-sm',
                ),
          )}
          href={item.href}
          data-active={isActive ? '' : null}
        >
          {item.title}
        </a>
      );

      return depth == 0 ? link : <li>{link}</li>;
    }
  })
}
